<style>
  h1 { text-align: center; }
  h3 { text-align: center; }
</style>

{% extends "base.html" %}

{% block content %}
Doesn't work because GCP kills web server.
See <a href="https://docs.google.com/presentation/d/1uQXFudy2s-FhPXxYtd0lnD297B-0yCLWRXu5gPPuPKY/edit?usp=sharing">presentation</a>.
<h3>
    Burner indicator light<br>
    <i><big><big>
        {{ latest_event }}
        <br>
        {{ on_time }}
        <br>
        {{ elapsed_time }}
    </big></big></i>
</h3>
<h3>
    Stovetop average temperature<br>
    <i><big><big>
        {{ temperature }}
    </big></big></i>
</h3>
{% endblock content %}